region                  = "ap-south-1"
environment             = "dev"
vpc_cidr                = "10.0.0.0/16"
public_subnet_cidr_az1  = "10.0.1.0/24"
public_subnet_cidr_az2  = "10.0.2.0/24"
private_subnet_cidr_az1 = "10.0.3.0/24"
private_subnet_cidr_az2 = "10.0.4.0/24"
az1                     = "ap-south-1a"
az2                     = "ap-south-1b"
allowed_ssh_cidr        = "YOUR_IP/32"
ami_id                  = "ami-xxxxxxxxxxxxxxxxx"
instance_type           = "t2.micro"
key_name                = "YOUR_KEY_PAIR_NAME"